.App {
  text-align: center;
  background-color: #1e6f5c;
  margin-top: -2rem;
}
.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title {
  color: #e6dd3b;
  padding: 2rem;
}

.user-card {
  background-color: #91c788;
  margin: 1.7rem;
  padding: 1rem;
  border-radius: 1rem;
  color: #464f41;
}
